body {
    background: url("../img/pic1.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    transform: rotate(-5deg);
}

.image {
    position: absolute;
    top: -65px;
    margin-left: 20px;
    padding: 20px 20px;
    left: -70px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.text {
    font-family: myfont;
    font-size: 60px;
    margin-left: 510px;
    margin-top: 200px;
    color: white
}

@font-face {
    font-family: myfont;
    src: url(../fonts/Bad_Script/BadScript-Regular.ttf);
}

.text2 {
    position: absolute;
    font-family: myfont2;
    font-size: 30px;
    margin-top: -60px;
    margin-left: 540px;
}

@font-face {
    font-family: myfont3;
    src: url(../fonts/Indie_Flower/IndieFlower.ttf);
}

.nav {
    position: sticky;
    display: block;
    margin-left: 750px;
    padding: 6px 10px;
    width: 575px;
    top: 0px;
}

li {
    float: left;
    list-style-type: none;
}

.link {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    margin: 10px 10px;
    padding: 4px 20px;
    color: black;
    border-bottom: 2px solid black;
    font-size: 25px;
    font-weight: bold;
    transition: all .3s ease-in;
    font-family: myfont3;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.active,
.link:hover {
    background: rgba(192, 0, 192, 0.4);
    color: white;
}

.link:active {
    background: blue;
}

@font-face {
    font-family: myfont2;
    src: url(../fonts/Caveat/Caveat-Regular.ttf);
}

.home {
    width: 250px;
    height: 140px;
    border: 1px solid black;
    border-radius: 10%;
    margin-left: 550px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: BadScript;
}

@font-face {
    font-family: BadScript;
    src: url(../fonts/Bad_Script/BadScript-Regular.ttf);
}

.welcome {
    font-size: 40px;
}

#about {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/pic7.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 525px;
    font-family: Kalam;
}

@font-face {
    font-family: Kalam;
    src: url(../fonts/Kalam/Kalam-Regular.ttf);
}

.about-me {
    position: absolute;
    margin-left: 290px;
    margin-top: 100px;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.4);
}

#about-text {
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    display: block;
    width: 500px;
    color: white;
    font-size: 30px;
}

#pen {
    text-decoration: none;
    color: rgb(104, 74, 238);
    font-weight: lighter;
}

.image-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    margin-left: 800px;
    border: 2px solid white;
    clip-path: circle(58% at 50% 50%);
}

#project {
    background: url("../img/pic8.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-content: space-between;
    height: 100vh;
    margin-top: 525px;
    font-family: Kalam;
}

.my-projects {
    position: absolute;
    margin-left: 290px;
    margin-top: 50px;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.4);
}

.proj {
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    margin-top: 200px;
    margin-left: 100px;
    width: 100px;
    height: 360px;
    padding-left: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

.proj:hover {
    transform: scale(1.05);
}

.pro {
    position: absolute;
    margin-left: -80px;
    margin-top: 20px;
    border: 1px solid white;
    box-shadow: 4px 4px 4px rgba(44, 42, 44, 0.5);
}

.pro-txt {
    position: absolute;
    margin-top: 330px;
    width: 100%;
    margin-left: -70px;
    text-shadow: 2px 2px 2px grey;
    font-size: 15px;
    font-weight: bolder;
}

#contact {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)), url("../img/pic5.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin-top: 525px;
    font-family: Kalam;
}

.contact {
    position: absolute;
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
    width: 500px;
    height: 470px;
    padding: 0px 100px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5), inset 0px 5px 10px rgba(0, 0, 0, 0.5), inset 0px -5px 10px rgba(0, 0, 0, 0.5);
}

.contact-with-other {
    position: absolute;
    margin-left: 500px;
    width: 100px;
    height: 470px;
    background: rgba(168, 168, 168, 0.5);
}

.list {
    width: 0px;
    margin-top: 80px;
}

.link2 {
    padding: 10px 10px;
}

#link2-link {
    font-size: 30px;
    margin-left: -25px;
    color: rgb(255, 255, 255);
}

i {
    background: rgb(104, 74, 238);
    padding: 10px 10px;
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5), inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

i:hover {
    transform: scale(1.2);
}

.contact-form {
    border-right: 1px solid #000;
    width: 550px;
}

h2 {
    font-family: Papyrus, fantasy;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}

input {
    background: linear-gradient(rgba(192, 192, 255, 0.5), rgba(255, 192, 255, 0.5));
    padding: 10px 20px;
    margin-top: 10px;
    width: 400px;
    border: 0;
    font-family: Papyrus, fantasy;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
}

input::placeholder {
    color: red;
    font-size: 18px;
}

input:hover {
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.5);
}

textarea {
    background: linear-gradient(rgba(192, 192, 255, 0.5), rgba(255, 192, 255, 0.5));
    font-size: 18px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

textarea::placeholder {
    color: red;
    font-size: 18px;
}

textarea:hover {
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.5);
}

button {
    background: linear-gradient(rgba(192, 192, 255, 0.5), rgba(255, 192, 255, 0.5));
    padding: 10px 40px;
    margin-top: 10px;
    margin-left: 130px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: sans-serif;
    border: 0;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5), inset 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), inset 0px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 750px) {
    .header {
        width: 300px;
        margin-left: 210px;
    }
    .text {
        font-size: 40px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .text2 {
        font-size: 20px;
        margin-top: -40px;
        margin-left: 0px;
    }
    .home {
        margin-left: 250px;
        margin-top: 50px;
        cursor: pointer;
        width: 170px;
        height: 100px;
        font-size: 12px;
    }
    .welcome {
        margin-top: 20px;
        font-size: 30px;
    }
    .nav {
        position: absolute;
        display: block;
        width: 100px;
        height: 200px;
        top: 150px;
        margin: 0 -100px;
    }
    .nav {
        top: 150px;
        position: sticky;
    }
    li {
        padding: 20px;
    }
    .link {
        padding: 5px 0px;
        background: white;
        height: 100px;
        border: none;
        color: black;
        border-right: 5px solid;
        border-radius: 0px 5px 5px 0px;
    }
    .link:hover {
        padding-left: 20px;
    }
    #about {
        height: 100vh;
        margin-top: 525px;
        font-family: Kalam;
    }
    .about-me {
        position: absolute;
        margin-left: 290px;
        margin-top: 60px;
        font-size: 35px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
    }
    #about-text {
        font-size: 25px;
        margin-top: 150px;
        width: 350px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .my-projects {
        margin-top: 50px;
        font-size: 40px;
    }
    .proj {
        background: rgba(255, 255, 255, 0.4);
        position: relative;
        margin-top: 180px;
        margin-left: 120px;
        width: 60px;
        height: 150px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        transition: .5s ease;
    }
    .pro {
        position: absolute;
        margin-left: -80px;
        margin-top: 20px;
        border: 1px solid white;
        box-shadow: 4px 4px 4px rgba(44, 42, 44, 0.5);
        width: 110px;
        height: 100px;
    }
    .pro3 {
        position: absolute;
        margin-top: 420px;
        margin-left: 400px;
    }
    .pro4 {
        position: absolute;
        margin-top: 420px;
        width: 60px;
    }
    .pro-txt {
        position: absolute;
        margin-top: 150px;
        width: 100%;
        margin-left: -70px;
        font-size: 15px;
        font-weight: bolder;
    }
    .contact {
        width: 300px;
        height: 580px;
        margin-top: 30px;
        margin-left: 100px;
    }
    .contact-form {
        width: 400px;
        border: none;
    }
    h2 {
        font-size: 25px;
        margin-left: -30px;
    }
    input {
        width: 300px;
        margin-left: -20px;
    }
    textarea {
        width: 342px;
        margin-left: -20px;
    }
    button {
        margin-left: 60px;
    }
    .contact-with-other {
        margin-left: 0px;
        width: 100px;
        height: 580px;
        opacity: 0;
        left: 0;
        transition: .5s ease;
    }
    .contact-with-other:hover {
        opacity: 1;
        padding-left: 10px;
    }
}